/*----------TEMPLATE PAGE SRTUCTURE----------*/
body {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.43;
	color: #565A5C;
  background-color: #EDEFED;
}
h2{
  font-size: 4.286em;
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
h4 {
  color: #565A5C;
	font-size: 1.357em;
	font-weight: bold;
  line-height: 1.1;
}
h3 {
  text-align: center;
  line-height: 1.1;
  padding-top: 150px;
  padding-bottom: 150px;
  color:white;
  font-weight: bold;
  font-size: 2.286em;
}
.button:focus, .button:hover {
	background: #1583CC none repeat scroll 0 0;
	color: #FFF;
}

.row:before {
  display: block;
  content: " ";
  margin-top: -90px;
  height: 90px;
  visibility: hidden;
}


ul, ol, dl {
  list-style: none;
}




/*------HOST BLOCK-------------*/
#conteneur-center {
	  padding-top:1.429em;
}

#hostlink{
  border: 2px solid white;
}
#hostlink:hover{
  background-color: rgba(0, 0, 0, 0.6)
}


/* ----------------CUSTOM------------------*/

#offcan {
  z-index: 0;
}

#offCanvasLeft ul{
	width:250px;
  background-color: none;
  background-image: url("../img/bgcanvasleft.jpg");
    }
.js-off-canvas-exit {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}

i {
  font-style: normal;
}
#offcan nav {
  color: #FF5A5F !important;
  background-color: #FFFFFF;
	height: 50px;

}


.title-bar-left{
  color: #FF5A5F !important;
  width: 25px;
  height: 25px;
}
#offcan h1  {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
padding-bottom: 0;
margin-bottom: 0;
text-align: center;
}

.contain-to-grid, .top-bar {
  clear: both;
  background: none;
  z-index: 0;
}

.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
  background: none;
  text-decoration: underline;
  color: #1a1a1a;
}
.top-bar-section ul li > a {
  position: relative;
}
.top-bar-right {
  padding: 0 1.357em;
}


.title-bar {
  color: #FF5A5F;
}
/*---------------HOME-------------*/

.header-unit {
  height: 100%;
  position: relative;
}



.top-bar ul {
  background: none;
}


#home-onvideo {
  position: relative;
  	height: 600px;
  color: white;
  font-weight: bold;
}

#home-onvideo i {
  font-size: 1.5em;
  font-weight: 600;
}
#home-onvideo a {
  color: white;
  font-size: 1em;
  font-weight: 400;
}

#home-onvideo .top-bar {
  padding:10px;
}
.text-center-home {
position: relative;
padding-top: 150px;
  max-width: none;
}
.text-center-home .button{
  background-color: rgba(252, 252, 252,0.4);
}
.text-center-home .button:hover{
  background-color: rgba(0, 0, 0,0.65);
}


/*----------------VIDEO-----------*/

#video-container {
	position: absolute;
	top:0;
	left:0;
	height:600px;
	width:100%;
	overflow: hidden;
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	min-width: 100%;
  min-height: 600px;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: center;
}

#search-home {
	position: relative;
	bottom: -160px;
	background-color: rgba(0, 0, 0, 0.5);
	vertical-align: bottom;
	margin-right: 0px;
	padding-top: 1.429em;
	padding-bottom: 1.429em;
}
#search-homesm {
position: absolute;
bottom: 12px;
  vertical-align: middle;
  margin-right: 0;
  padding-top: 1.429em;
  padding-bottom: 1.429em;
}

.searchmar0{
margin: 0;
}

#submit {
height: 2.4375rem;
padding: 0.5rem;
	border-color: #FF5A5F #FF5A5F #E00007;
	background-color: #FF5A5F;
	color: #FFF;
  font-weight: 700 !important;
}

/*-------------CENTERED HOST------------*/

#begin-hostsm{
  position: relative!important;
  height: 300px;
  background-image: url("../img/host/host1.jpg") ;
  background-size: cover;
  overflow: hidden;
  margin-top: 10px;

}
#begin-host{
  position: relative;
  margin-top: 50px;
}
#lefthostsm{background-color: rgba(0, 0, 0, 0.5);; height:100%;
padding-left: 10px;padding-right:10px; }
#lefthostsm p { color: white;font-size:1.143em; font-weight: bold;text-align: center; }
#lefthostsm h4 { color: white;text-align: center; margin-top: 90px;}
#lefthostsm .estimate { color: white; background-color: #007A87;font-weight: bold;}
#lefthostsm .estimate:hover {background-color: #028f9e;}

#lefthost{background-color: #fff; height:227.5px;
padding-left: 5px;padding-top: 25px; padding-right:5px; }
#lefthost p {font-size:1.143em; font-weight: bold;}
#lefthost #estimate {background-color: #007A87;font-weight: bold;}
#lefthost #estimate:hover {background-color: #028f9e;}

#imghost img { height: 227.5px; overflow:hidden;}
/*#imghost{position:relative;}
#imghost img{position:absolute;z-index:1}
#imghost img.active{z-index:3}*/


/*-------------AROUND BLOCK------------*/

#lille{ background-image: url("../img/around/lille.jpeg"); margin:5px;}
#bruxelles { background-image: url("../img/around/bruxelles.jpeg");margin:5px;}
#londres { background-image: url("../img/around/londres.jpeg");margin:5px;}
#around #otheraround { color: #565A5C;background-color: white;font-weight: bold; border: 1px solid rgb(143, 143, 143); margin-top: 50px;margin-bottom: 50px;}
#around #otheraround:hover {border: 1px solid black;}


/*-------------FOOTER BLOCK---------------*/
footer {
	background-image: url("https://a1.muscache.com/airbnb/static/footer/background-7c73b7858fe7c4bc03505fc1f7f672fd.png");
	background-color: #2B2D2E;
	color: #FFF;
	margin-top: 50px;
	font-weight: bold;
}
footer h6 {
	font-weight: bold;
}
footer a {color: white;}
footer i {
	color: white;
	border: 1px solid rgb(158, 158, 158);
	border-radius: 30px;
	padding:3px;
	margin: 0 3px;
}
.fafb {padding: 3px 8px;}
footer p { color: rgb(116, 116, 116);}
.selectfooter {
	background-color: rgb(64, 64, 64);
	color: white; }
